<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ログイン状態 -->
    <% if current_user %>
      <div class="outer">
        <div class="inner">
          <div class="logo-wrapper"><%= image_tag '/logotype.png', :size =>"150x50" %></div>
          <nav>
            <ul id="list">
              <li class="list-items">
                <%= link_to "プロフィール編集", edituser_path(session[:UserID]), method: :get %>
              </li>
              <li class="list-items">
                <%= link_to "サインアウト", signout_path(session[:UserID]), method: :delete %>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    <!-- ログインしていない状態 -->
    <% else %>
      <div class="outer">
        <div class="inner">
          <div class="logo-wrapper"><%= image_tag '/logotype.png', :size =>"150x50" %></div>
          <nav>
            <ul id="list">
              <li class="list-items">
                <%= link_to("ログイン", "/signin") %>
              </li>
              <li class="list-items">
                <%= link_to("新規登録", "/signup") %>
              </li>
            </ul>
          </nav>
        </div>
      </div> 
    <% end %>

    <%= yield %>
  </body>
</html>
